body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
img{
    max-width: 100%;
}
.banner-section{
    display: flex;
    justify-content: space-around;
    padding-bottom: 75px;
}
.def-width{
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 2%;
    
}
.banner-img img{
    width: 80%;
}
.banner-text h1{
    font-size: 45px;
    line-height: 1.3em;
    letter-spacing: .02em;
    border-left: 4px solid;
    border-image: linear-gradient(to bottom, tomato, tan);
    border-image-slice: 1;
    border-radius: 10px;

}
.banner-text span{
    color: crimson;
}
.p-color{
    color: #767676;
    text-align: justify;
    line-height: 1.5em;
}
.def-button{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-image: linear-gradient(to top right, tomato, tan);
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
}
/* mission-section */
.mission-section h1{
    font-size: 40px;
    text-align: center;
    
    
}
.mission-section span{
    color: crimson;
}
.mission-content{
    display: flex; 
    justify-content: space-between; 
    
}
.mission-box{
    width: 30%;
   border-radius: 15px;
   padding: 30px 30px 20px 20px;
   margin-right: 20px;
   align-items: center;
}
.mission-box img{
    width: 50%;

}
.mission-box p{
    font-size: 15px;
}
.mission-color1{
    background-color: teal;
}
.mission-color2{
    background-color: steelblue;
}
.mission-color3{
    background-color: salmon;
}

/* third-section */
.third-section{
    display: flex;
    margin-top: 100px; 
}
.third-section .third-img{
    width: 30%;
    margin-left: 8%;   
}
.third-text{
    width: 50%;
    margin-left: 5%;
    padding-right: 10%; 
}
.third-text h2{
    font-size: 35px;
    line-height: 1.3em;
}
/* another-third-section */
#fourth-part-text{
    width: 60%;
    margin-left: 8%;
    padding-right: 8%;
}
#fourth-part-text h2{
    font-size: 35px;
    line-height: 1.3em;
}
#fourth-part-img{
    width: 35%;
    margin-right: 8%;
}
/* contact-section */
.contact-section{
    display: flex;
    margin-top: 100px;
}
.contact-form{
    text-align: center;
    margin: auto;
   
}
.contact-form h1{
    font-size: 40px;
    margin: 15px;
}
.contact-form form{}
.contact-form input{
    width: 70%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid crimson;
}
.contact-form textarea{
    width: 72%;
    border-radius: 8px;
    border: 2px solid crimson;
    padding-left: 10px;
    margin-bottom: 10px;

}
/* FOOTER-section */
.footer-section{
    text-align: center;
    margin-top: 100px;
    background-color: black;
    padding: 10px;
    color: white;
}
.footer-section h1{
    font-size: 30px;
    margin: 10px 0;
    
}
.footer-section span{
    color: crimson;
}
.footer-section strong{
    font-size: 12px;
}
.footer-section a{
    display: inline-block;
    color:crimson;
    margin-left: 10px;
    font-size: 15px;
}
.footer-section p{
    color: #767676;
    font-size: 15px;
}
